<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tasks!</title>
    <script src="./static/js/jquery-3.3.1.min.js" type="text/javascript"></script>
  </head>
  <body>
    <h1> Tasks! </h1>

    <table class = "todo">
    <tr>
        <th>Date</th>
        <th> Title </th> 

    </tr
    
    {% for task in tasks %}>
    <tr>
        <div onclick = "location.href='{{url_for()}}'">
            <td>{{ task }}</td>
            <td>{{ task }}</td> 
        </div>
    </tr>

    {% endfor %}

    </table>

  </body>
</html>
