<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tasks!</title>
      <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}" type="text/javascript"></script>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}"/>

  </head>
  <body>
    {% include "page_blocks/navigation.html" %}

    <h1> Tasks! </h1>

    

  <!-- "todo" table -->
    <table class = "todo">
    <tr>
        <th>Title</th> 
        <th>Date</th>
    </tr
    {% for task in tasks %}>
    <tr>
        <!-- TODO: redirect to nane of task-->
        <div onclick = "location.href='{{url_for()}}'">
            <td>{{ task }}</td>
            <td>{{ task }}</td> 
        </div>
    </tr>
    {% endfor %}
    </table>


  <!-- "completed" table -->

    <table class = "completed">
    <tr>
        <th>Title</th> 
        <th>Date</th>
    </tr
    {% for task in tasks %}>
    <tr>
        <!-- TODO: redirect to nane of task-->
        <div onclick = "location.href='{{url_for()}}'">
            <td>{{ task }}</td>
            <td>{{ task }}</td> 
        </div>
    </tr>
    {% endfor %}
    </table>


  </body>
</html>
